[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[pull]
    rebase = false

[include]
  path = ~/.gitconfig-github

[includeIf "gitdir:~/Documents/GitHub/"]
  path = ~/.gitconfig-github

[includeIf "gitdir:~/Documents/GitLab/"]
  path = ~/.gitconfig-gitlab
[http "https://github.com"]
	proxy = http://127.0.0.1:7897
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
